<div class="btn-group">
  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= @title %>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <%= for link <- @links do %>
        <li><%= link %> </li>
    <% end %>
  </ul>
</div>
