<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Teaching animal reservation system">
    <meta name="author" content="Brian Marick">

    <title>Critter4Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>

<body>
  <nav class="nav has-shadow" id="top">
    <div class="container">
      <div class="nav-left" style="overflow-x: hidden">
        <a class="nav-item" href="../index.html">
          <img src="../images/critter4us.png" alt="Critter4Us">
        </a>
        <!-- <span class="nav-item" style="overflow-x: hidden">Somebody Something at Placething</span> -->
      </div>
      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="nav-right nav-menu">
        <!-- <a class="nav-item is-tab is-active"> -->
        <!--   Home -->
        <!-- </a> -->
        <!-- <a class="nav-item is-tab"> -->
        <!--   Features -->
        <!-- </a> -->
        <!-- <a class="nav-item is-tab"> -->
        <!--   Team -->
        <!-- </a> -->
        <a class="nav-item is-tab">
          Help
        </a>

        <span class="nav-item">
          <form action="/sessions/4" method="post">
            <input name="_method" type="hidden" value="delete">
            <input name="_csrf_token" type="hidden" value="JBxGTxkhJX09aUM+IjEVNwQHFF8jEAAAbPi+AtgRE+5sMuDRLfFmjg==">
            <a class="button" data-submit="parent" href="#" rel="nofollow">
              Log in
            </a>
          </form>
          
          <!-- <a class="button is-info" style="margin-left: 10px;"> -->
          <!--   Try it out -->
          <!-- </a> -->
        </span>
      </div>
    </div>
  </nav>
  <section class="section">
    <div class="container content">
      <p class="has-text-centered">
        Critter4Us is a blah, blah, blah. 
      </p>
      <p class="has-text-centered">
        You may look at sample data with login "demo" and password "louis".
        <br/>
        <a href="#">Try it now</a>
      </p>


      <p class="has-text-centered">
        In order to try out managing animals and making reservations, you'll need a
        <br/>
        <a href="#">Trial account</a>
      </p>

      
    </div>
  </section>
  <script>window.auth_token = "<%= assigns[:auth_token] %>"</script>
  <script>window.socket_uri = "<%= Eecrit.Endpoint.socket_uri %>"</script>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
