<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Teaching animal reservation system">
    <meta name="author" content="Brian Marick">

    <title>Critter4Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    
  </head>
  <body>
    <div class="container">
      <nav class="nav has-shadow" id="top">
        <div class="nav-left" style="overflow-x: hidden">
          <a class="nav-item" href="<%= assigns.layout_data.left_picture_path %>">
            <img src="../images/critter4us.png" alt="Critter4Us">
          </a>
          <span class="nav-item" style="overflow-x: hidden">
            <%= assigns.layout_data.user  %>
          </span>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu">
          <%= Enum.map(assigns.layout_data.links, &raw/1) %>
        </div>
      </nav>
      <%= v2_flash(@conn) %>
      <%= render @view_module, @view_template, assigns %>
  
    </div>

    <footer class="footer">
      <div class="level">
        <p class="level-item has-text-centered">
            Copyright © 2016 Brian Marick
        </p>
        <p class="level-item has-text-centered">
          <%= Eecrit.Version.version %>
        </p>
        <p class="level-item has-text-centered">
          <a href="<%= unfinished_path(@conn, :index)%>">
            Terms and Disclaimer
          </a>
        </p>
      </div>
    </footer>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  <%= if Map.has_key?(assigns, :elm_launcher), do: @elm_launcher, else: "" %>
</body>
</html>
