<h2>New animal</h2>

<%= render "form.html", changeset: @changeset,
                        valid_species: @valid_species,
                        action: old_animal_path(@conn, :create) %>

<%= link "Back to animal list", to: old_animal_path(@conn, :index), class: "btn btn-default" %>
