<h2>Edit old procedure</h2>

<%= render "form.html", changeset: @changeset,
                        action: old_procedure_path(@conn, :update, @old_procedure) %>

<%= link "Back", to: old_procedure_path(@conn, :index) %>
