<h2>New old procedure</h2>

<%= render "form.html", changeset: @changeset,
                        action: old_procedure_path(@conn, :create) %>

<%= link "Back", to: old_procedure_path(@conn, :index) %>
