<h2>Procedure</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @old_procedure.name %>
  </li>

  <li>
    <strong>Days delay:</strong>
    <%= @old_procedure.days_delay %>
  </li>

</ul>

<div class="input-group">
  <span class="input-group-btn">
    <%= link "Edit this procedure", to: old_procedure_path(@conn, :edit, @old_procedure), class: "btn btn-default" %>
    <%= link "Back to procedure list", to: old_procedure_path(@conn, :index), class: "btn btn-default" %>
  </span>
</div>
