<h2>New organization</h2>

<%= render "form.html", changeset: @changeset,
                        action: organization_path(@conn, :create) %>

<%= link "Back", to: organization_path(@conn, :index) %>
