<h2>Show organization</h2>

<ul>

  <li>
    <strong>Full name:</strong>
    <%= @organization.full_name %>
  </li>

</ul>

<%= link "Edit", to: organization_path(@conn, :edit, @organization) %>
<%= link "Back", to: organization_path(@conn, :index) %>
