<h2>Show permissions</h2>

<ul>

  <li>
    <strong>Group name</strong>
    <%= @permissions.tag %>
  </li>

  <li>
    <strong>Superuser?</strong>
    <%= @permissions.is_superuser %>
  </li>

  <li>
    <strong>Admin?:</strong>
    <%= @permissions.is_admin %>
  </li>

</ul>

<%= link "Edit", to: permissions_path(@conn, :edit, @permissions) %>
<%= link "Back", to: permissions_path(@conn, :index) %>
