<h2>New old procedure description</h2>

<%= render "form.html", changeset: @changeset,
                        action: old_procedure_description_path(@conn, :create) %>

<%= link "Back", to: old_procedure_description_path(@conn, :index) %>
